.checkbox-selection-box {
    background-color: #DEDEDE;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
    display: inline-block;
    font-size: .875rem;
}


.ttu {
    text-transform: uppercase;
    letter-spacing: .1em;
}


button {
    background-color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
    display: inline-block;
    font-size: .875rem;
    border: 1px solid #999999;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.highlight-span {
    width: 60%;
    font-size: 14px; 
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}


table { 
    width: 100%; 
}

table, th, td { 
    border: solid 1px #DDD;
    border-collapse: collapse; 
    padding: 2px 3px; 
    text-align: left;
}

